// Main container

body > main {
  min-height: calc(100vh - 54px); // Viewport height minus medium screen navbar height, to push footer to bottom
  padding-bottom: $grid-gutter-width; // Don't stick to footer
}

p {
  word-wrap: break-word;
  white-space: normal;
}

// Media queries for responsive design
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px; // Adjust font size for mobile
    // padding: 10px; // Adjust padding for mobile
    overflow-x: hidden; // Disable horizontal scrolling
  }

  .header {
    // text-align: center; // Center header text on mobile
    // background-size: cover; // Adjust image background for smaller screens
    width: 100%; /* Full width */
    height: auto; /* Let height adjust naturally */
    background-size: cover; /* Ensure the image covers the entire header */
    background-position: center; /* Focus the image center */
  }

  .content {
    padding: 10px; // Adjust content padding for smaller screens
    margin: 0 auto; // Center content on mobile
  }
}